.Header {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.HeaderTitle {
    text-align: center;
}

.HeaderNav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.iWantToHelp {
    margin: 0 auto;
    padding: 0;
    background-color: burlywood;
    width: 95vw;
    height: 70vh;
}

.iWantToHelpTitle {
    text-align: center;
}

.iWantToHelp1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}